In [62]:
import pandas as pd

In [68]:
df = pd.read_csv("https://drive.google.com/uc?id=11CUOWKfXvZDDGmgbkg4Ht5Kwxgk-mVh3",index_col=0,parse_dates=True)

In [69]:
df

               予算     前年      実績
日付
2021-01-01  1,022  1,026   907.0
2021-01-02  1,588  1,288  1224.0
2021-01-03  1,344  1,298  1268.0
2021-01-04  1,482  1,414  1425.0
2021-01-05  1,246  1,210  1412.0
2021-01-06  1,197  1,015  1445.0
2021-01-07  1,226  1,181  1349.0
2021-01-08  1,258  1,133  1426.0
2021-01-09  1,519  1,258  1633.0
2021-01-10  1,307  1,181  1448.0
2021-01-11  1,417  1,248  1521.0
2021-01-12  1,311  1,196  1197.0
2021-01-13  1,201  1,025  1416.0
2021-01-14  1,201  1,143  1349.0
2021-01-15  1,254  1,131  1323.0
2021-01-16  1,625  1,160  1837.0
2021-01-17  1,335  1,391  1383.0
2021-01-18  1,307  1,205  1412.0
2021-01-19  1,254  1,101  1257.0
2021-01-20  1,201  1,145  1329.0
2021-01-21  1,197    930     NaN
2021-01-22  1,226  1,276     NaN
2021-01-23  1,519  1,397     NaN
2021-01-24  1,368  1,258     NaN
2021-01-25  1,299  1,353     NaN
2021-01-26  1,246    810     NaN
2021-01-27  1,201  1,262     NaN
2021-01-28  1,201  1,136     NaN
2021-01-29  1,254  1,149     NaN
2021-01-30  1,527  1,500     NaN
2021-01-31  1,383  1,243     NaN

In [67]:
df.dtypes

予算     object
前年     object
実績    float64
dtype: object

In [75]:
type(df.index[3])

pandas._libs.tslibs.timestamps.Timestamp